%tr
  %td= article.title
  %td= article.text_sample
  %td
    = link_to t('show'), user_article_path(article)
    - if article.can_modify?
      \|
      = link_to t('edit'), edit_user_article_path(article)
      \|
      = link_to t('remove'), user_article_path(article),
        method: :delete,
        data: { confirm: 'Are you sure?' }
