= simple_form_for [:user, @article] do |f|
  = render 'errors/jumbotron', object: @article
  = f.input :title
  = render 'user/articles/categories/selector'
  = f.input :all_categories, input_html: { class: 'js-category-selector' }
  = f.input :article_picture, as: :file
  = f.cktext_area :text, rows: 20
  = f.hidden_field :user_id, value: current_user.id
  = f.submit t('save'), class: 'btn btn-primary'
