= form_for [:user, @user_article] do |f|
  - if @user_article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @user_article.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title, 'Title'
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :title, 'Categories'
    = render 'user/articles/categories/selector'
    = f.text_field :all_categories,
      placeholder: "Categories separated with comma",
      class: 'js-category-selector form-control'
  .form-group
    = f.label :article_picture, 'Add picture to Article'
    = f.file_field :article_picture, multiple: false
  .form-group
    = f.cktext_area :text, rows: 20
  = f.hidden_field :user_id, value: current_user.id
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
