%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Paragraph
      %th Actions
  %tbody
    - @user_articles.each do |article|
      %tr
        %td= article.title
        %td La-la-dance
        %td
          = link_to 'Show', user_article_path(article)
          \|
          = link_to 'Edit', edit_user_article_path(article)
          \|
          = link_to 'Remove', user_article_path(article),
            method: :delete,
            remote: true,
            data: { confirm: 'Are you sure?' }
    = paginate @user_articles
