%table.table.table-striped
  %thead
    %tr
      %th= t 'articles.title'
      %th= t 'articles.index.text_sample'
      %th= t 'articles.index.actions'
  %tbody
    = render @user_articles.decorate
    = paginate @user_articles
