.container
  .row
    = render partial: '/categories/category', collection: @user_article.categories
    %h1= @user_article.title
    = image_tag(@user_article.article_picture.url, class: 'img-responsive') if @user_article.article_picture.present?
    %h4= "Author: #{@user_article.user.name}. Created: #{@user_article.created_at.strftime('%F %H:%M')}"
    %br/
    %p= raw(@user_article.text)
    %br/
    %i= "Views: #{@user_article.views_count}"
    %br/
    = link_to 'Back', user_articles_path
