- @article = @article.decorate
.container
  .row
    = render partial: '/categories/category', collection: @article.categories
    %h1= @article.title
    = @article.image_responsive
    %h4= @article.about_author_and_post
    %br/
    %p= @article.html_body
    %br/
    %i= @article.formatted_view_count
    %br/
    = link_to t('back'), user_articles_path
