%tr
  %td= article.image70x70
  %td
    %a{href: article_path(article)}= article.title
  %td= article.text_sample
  %td= article.views_count
  %td= article.user_name
  %td= article.formated_created_at
