%tr{class: 'js-clickable-row', 'data-href': article_path(article)}
  %td= article.title
  %td= truncate(article.text, length: 30)
  %td= article.views_count
  %td= article.user.name
  %td= article.created_at.strftime('%F %H:%M')
