%tr{class: 'js-clickable-row', 'data-href': article_path(article)}
  %td= article.image70x70
  %td= article.title
  %td= article.text_sample
  %td= article.views_count
  %td= article.user_name
  %td= article.formated_created_at
