= search_form_for @q, class: 'form-inline' do |f|
  .form-group
    = f.label :title_cont
    = f.search_field :title_cont, class: 'form-control'

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Image
      %th Title
      %th Paragraph
      %th Views
      %th Author
      %th Created
  %tbody
    = render @articles
    = paginate @articles
%br/
%h2 Most popular categories
= render Category.most_popular_categories
